config/*.php
lrv/bootstrap
lrv/storage
.env.local
.env.testing
maintenance.trigger
lrv/.vagrant
vagrant.log
lrv/vagrant.log
img/members
orgs/*/camera/*.jpg
orgs/*/camera/*.jpeg
orgs/*/camera/*.txt
orgs/*/camera/*.sh
.aider*
