#head {background-color:#063552;}
table.t1 {width: 100%;border-collapse:collapse;}
a.wt{color: #f26120;}
a.wt:link{color: #f26120;}
a.wt:visited {color: #f26120;}
a.wt:hover {color: #fff;}
p.headp1 {font-family: Calibri, Arial, Helvetica, sans-serif; margin:0;color: #f26120;font-size:50px}
p.headp2 {font-family: Calibri, Arial, Helvetica, sans-serif; margin:0;color: #f26120;font-size:20px}
td.tdhead1 {padding-left:0px;}
td.head3 {color: #f26120;border-style: none;font-size:14px;font-family: Arial, Helvetica, sans-serif;text-align: right;vertical-align: top;}
td.head4 {width: 30px;border-style: none;}


